.user__item{
    position: relative;
    
    &__img{
        width: 100%;
        height: 250px;
    }

    &__checkbox{
        position: absolute;
        right: 10px;
    }

    &__text{
        padding: 10px;
    }
}

